@import "tailwindcss";

@import 'vazirmatn/Vazirmatn-font-face.css';

:root {
    --font-vazir: 'Vazirmatn', sans-serif;

    --color-primary: #00c6a9;
    --color-primary-light: #3ec6b6;
    --color-secondary: #ffd86b;
    --color-secondary-dark: #e6c344;

    --color-bg: #000000;
    --color-text: #ffffff;       /* default white text */

    --color-text: #1f1f1f;
    --color-bg: #ffffff;
}

html {
    direction: rtl;
}

body {
    font-family: var(--font-vazir);
    background-color: var(--color-bg);
    color: var(--color-text);
}
