@import "tailwindcss";

@import 'vazirmatn/Vazirmatn-font-face.css';

:root {
    --font-vazir: 'Vazirmatn', sans-serif;

    --color-primary: #3f51b5;
    --color-primary-light: #6573c3;
    --color-primary-dark: #2c387e;

    --color-text: #1f1f1f;
    --color-bg: #ffffff;
}

html {
    direction: rtl;
}

body {
    font-family: var(--font-vazir);
    background-color: var(--color-bg);
    color: var(--color-text);
}
